<div class="col-12">
        <h4>Dernières ressources ajoutées</h4>




      <% Ressource.all.last(10).each do |r| %>
                <div class="card card-primary">
                  <div class="card-header p-1 pl-4">
                    <h4>Faire un site web</h4>
                    <div class="card-header-action mr-4">
                    <% r.tags.each do |tag| %>

                      <a href="#" class="btn btn-primary text-light">
                        <%=tag.name%>
                      </a>
                    <% end %>

                    </div>
                  </div>
                  <div class="card-body p-1 pl-4">
                    <p><%= r.description %></p>
                  </div>
                   <div class="card-footer p-1 pl-4" style="height: 30px;">
                    Ajouté par <%= r.user.username %>
                    
                    <% if !r.url.blank? %>
                    <span class="text-right" style="position: absolute; right: 30px; ">
                      <a href="<%= r.url%>">
                        <span class="fas fa-link">
                        <%= r.url %>
                      </span>
                      </a>
                    </span>
                    <% end %>
                  </div>
                </div>

        <% end %>


</div>
