<%= form_tag( '/search', class: "form-inline mr-auto") do %>
    <ul class="navbar-nav mr-3">
      <li>
        <%= link_to("#", class: "nav-link nav-link-lg", data: {toggle: :sidebar}) do %>
          <i class="fas fa-bars"></i>
        <% end %>
      </li>
      <li>
        <%= link_to("#", class: "nav-link nav-link-lg d-sm-none", data: {toggle: :search}) do %>
          <i class="fas fa-search"></i>
        <% end %>
      </li>
    </ul>
    <div class="search-element">
      <%= text_field_tag "name", nil, placeholder: "Search", class: "form-control", autocomplete: 'off' %>
      <%= button_tag class: "btn" do %>
        <i class="fas fa-search"></i>
      <% end %>
      <div class="search-backdrop"></div>
      <div class="search-result">


        <div class="search-header">
          Ressources
        </div>

        <% Ressource.all.last(3).each do |ressource|%>
        <div class="search-item">
          <%= link_to "#{ressource.name}", ressource_path(ressource) %>


          <%= link_to "#", class: "search-close" do  %>
            <i class="fas fa-times"></i>
          <% end %>

       

        </div>
        <% end %>


      
        <div class="search-header">
          Projects
        </div>

        <% Project.all.each do |project| %>
        <div class="search-item">
          <%= link_to project_path(project) do %>
            <div class="search-icon bg-primary text-white mr-3">
              <i class="fas fa-code"></i>
            </div>
            <%= project.name %>
          <% end %>
        </div>
        <% end%>
     
      </div>
    </div>
  <% end %>
